.button{
    display: inline-block;
    background-color: #BA1F33;
    box-shadow: 5px 5px 0px #000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms cubic-bezier(0.81, 0.8, 1, 2.76);
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.08);
}