.button-arrow {
    width: 2.8vw;
    height: 2.8vw;
    background-color: #BA1F33;
    box-shadow: 0.3vw 0.3vw 0vw #000;
    cursor: pointer;
}

.button-arrow .content {
    display: none;
}

.button-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 2vw;
    height: 2vw;
    border: 1vw solid transparent;
    border-left: 1.5vw solid white;
    transform: translateX(0.2vw);
}

.button-arrow.-left::before {
    transform: rotate(180deg) translateX(0.9vw);
}