.main-title {
    font-family: 'Press start 2P', sans-serif;
    font-size: 2.4vw;
    color: #BA1F33;
    text-shadow: 0.3vw 0.3vw 0 #000;
    white-space: nowrap;
}

.main-title.-second {
    color: #FFF;
    text-align: center;
    text-shadow: none;
}