.main-banner {
    box-sizing: border-box;
    background-image: url(../../Assets/img/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px solid #000;
    min-width: 100px;
    min-height: auto;
    height: 1063px;
    padding-top: 115px;
    padding-left: 90px;
    resize: horizontal;
}

.main-banner .wrapper {
    flex-direction: column;
    width: 630px;
}

.main-banner .main-box {
    margin-bottom: 40px;
}

.main-banner .navigation {
    display: flex;
    justify-content: space-around;
}