.main-section {
    background-color: #3A4042;
    padding-top: 50px;
    padding-bottom: 3vw;
    border-bottom: 10px solid #7C5E99;
    align-items: center;
}

.main-section .main-title {
    margin-bottom: 4vw;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #F25A70;
}

.main-section.-bgSecond {
    background-color: #7C5E99;
}

.main-section.-bdBlack {
    border-color: #000;
}
