.main-header {
    display: flex;
    justify-content: space-between;
    background-color: #CEB02A;
    border-bottom: 0.7vw solid #000;
    padding: 0.7vw 1vw;
}

.main-header .mini-logo {
    height: 3.4vw;
}