.main-input {
    box-sizing: border-box;
    border: 0.3vw solid #000;
    font-size: 1.5vw;
    height: 2.5vw;
    width: 100%;
    padding-left: 0.3vw;
    padding-right: 0.3vw;
}

.main-input.-textarea {
    height: 15vw;
}