.main-footer {
    display: flex;
    justify-content: center;
    background-color: #000;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
}

.main-footer .action {
    margin-right: 1vw;
    padding-left: 1vw;
}

.main-footer .action .social {
    height: 2.5vw;
}