.main-title {
    font-family: 'Press start 2P', sans-serif;
    font-size: 40px;
    color: #BA1F33;
    text-shadow: 4px 4px 0 #000;
}

.main-title.-second {
    color: #FFF;
    text-align: center;
    text-shadow: none;
}