.main-caroussel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 6vw;
    padding-right: 6vw;
}

.main-caroussel::after {
    content: '';
    position: absolute;
    left: 40px;
    top: 2vw;
    display: block;
    height: 4px;
    width: calc(100% - 80px);
    background-color: #000;
}

.main-caroussel::before {
    content: '';
    position: absolute;
    box-sizing:border-box;
    left: 0;
    top: 2vw;
    display: block;
    border: 2px dashed #000;
    width: 100%;

}

.main-caroussel .button-arrow {
    position: absolute;
    bottom: 4vw;
    transform: translateY(40%);
}

.main-caroussel .button-arrow.-left {
    left: 1vw;
}

.main-caroussel .button-arrow.-right {
    right: 1vw;
}

.main-caroussel .items {
    width: 100%;
    overflow: hidden;
}

.main-caroussel .elements {
    display: flex;
    justify-content: space-between;
    transition: transform 150ms ease-in-out;
}