.main-action {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 1.1vw;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

.main-action::before {
    content: "";
    background-color: #BA1F33;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}