.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0vw;
    width: 2vw;
    border: 2.2px dashed #000;
    transform: rotate(90deg) translateX(-62%);
    bottom: 6.1vw;
}

.node-card .title {
    font-family: 'Press start 2P', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    color: #F25A70;
    margin-bottom: 2.5vw;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 6vw;
    border: 0.3vw solid #000;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #CEB02A;
}

.node-card.-clean .logo {
    padding: 0;
}

.node-card.-first .logo {
    background-color: #F25A70;
}

.node-card.-cleanmym .logo {
    padding: 0;
}

.node-card .logo .localweb {
    width: 8vw;
}

.node-card .logo .caelum {
    width: 6vw;
}

.node-card .logo .getninjas {
    width: 6vw;
}

.node-card .logo .impulso {
    width: 9vw;
}

.node-card .logo .collabcode {
    width: 5.8vw;
}