.progress-bar {
    box-sizing: border-box;
    color: #CEB02A;
    border: 5px solid #000;
    height: 40px;
}

.progress-bar::-webkit-progress-bar {
  background-color: #FFF; 
  width: 100%;
}

.progress-bar::-webkit-progress-value {
  background: #CEB02A;
}