.progress-bar {
    box-sizing: border-box;
    color: #CEB02A;
    border: 0.3vw solid #000;
    height: 2.2vw;
}
 
.progress-bar::-webkit-progress-bar {
  background-color: #FFF; 
  width: 100%;
}

.progress-bar::-webkit-progress-value {
  background: #CEB02A;
}