.skill-tec {
    display: flex;
    align-items: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.05vw;
    color: #FFF;
}

.skill-tec .icon {
    margin-right: 1vw;
    width: 5vw;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .title {
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 1vw;
}