.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tec {
    width: 22.5vw;
    margin-bottom: 2.6vw;
}

.wrapper-skill .skill-tec:nth-child(odd) {
    margin-right: 5vw;
}
 .wrapper-skill .progress-bar {
     width: 17vw;
}