header {
    display: flex;
    justify-content: space-between;
    background-color: #CEB02A;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

nav a::before {
    content: "";
    background-color: #BA1F33;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}